<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head th:replace="fragments/subHeader :: subHeader"></head>
	<head th:replace="fragments/subHeader :: boardModify-header"></head>
    
    <body>
         <header th:replace="fragments/subBodyHeader :: header">
    	</header>
        
        <nav th:replace="fragments/subMenu" :: subNav>
    	</nav>
    	
  <section>
  <div class="ref-title-container">
              <div class="ref-innerwrap inner-size">

                <div class="ref-title">
                    <h1>정보공유 수정페이지</h1>
                </div>

                <div class="ref-img">
                    <img src="../resources/img/infoback.png" alt="">
                </div>

            </div>
		<div class='section'  th:object="${datas}">
					<form class='frm_post' th:action="|/board/modify?${_csrf.parameterName}=${_csrf.token}|" method="post" enctype="multipart/form-data">
				<div class='frm_header_area'>
					<h2 class='sub_title'>정보공유 수정페이지</h2>				
				</div>
				<div class='frm_title_area'>
					<input type="text" class="post_title" name="title" required="required" th:value="*{board.title}" placeholder='제목을 입력하세요'>
				</div>
				<div class='frm_content_area'>
					<textarea id="editor1" name="content" required="required" th:text="*{board.content}" data-sample-short></textarea>
				</div>
				       <h4 class="heading">이미지</h4>
                        <div class="form-group">
                            <div class="col-sm-12">
                               <input class="form-control" id="image" name="imgList" type="file" multiple="multiple"
                               onchange="fileCheck(this.files)" />
                               <div class="img-wrap">
                               <img style="width: 300px; height: 200px; display: inline-block;" th:each="file : *{files}" th:object="${file}" alt="" th:src="*{getDownloadURL()}"
                               th:onclick="|removeFile(this,*{flIdx})|">
                               </div>
                            </div>
                        </div>
                        <div class="rejectMsg"></div>
                        <div class="form-group">
                            <div class="preview">
                               <p></p>
                            </div>
                        </div>
				
					<div class='btn_area'>
							<button id="btnModify" class="btn">수정</button>
							<a id="btnSubmit" class="btn" th:href="@{/board/board-list2}">목록</a>
					</div>
				<input type="hidden" name="bdIdx" th:value="*{board.bdIdx}"/>
			</form>
			</div>
		</div>
</section>
  
 <footer>
    <div th:replace="fragments/footer :: footer" ></div>
</footer>
<script type="text/javascript"  th:inline="javascript">
var input = document.querySelector('#image');
var preview = document.querySelector('.preview');

input.addEventListener('change', updateImageDisplay);

function updateImageDisplay() {
	  while(preview.firstChild) {
	    preview.removeChild(preview.firstChild);
	  }

	  const curFiles = input.files;
	  if(curFiles.length === 0) {
	    const para = document.createElement('p');
	    para.textContent = 'No files currently selected for upload';
	    preview.appendChild(para);
	  } else {
	    const list = document.createElement('ol');
	    para.textContent = 'Click on the image to delete it';
	    preview.appendChild(list);

	    for(const file of curFiles) {
	      const listItem = document.createElement('li');
	      const para = document.createElement('p');
	      if(validFileType(file)) {
	        para.textContent = `File name ${file.name}, file size ${returnFileSize(file.size)}.`;
	        const image = document.createElement('img');
	        
	        image.style.setProperty("width","300px");
	        image.style.setProperty("height","200px");
	        
	        image.src = URL.createObjectURL(file);

	        listItem.appendChild(image);
	        listItem.appendChild(para);
	      } else {
	        para.textContent = `File name ${file.name}: Not a valid file type. Update your selection.`;
	        listItem.appendChild(para);
	      }

	      list.appendChild(listItem);
	    }
	  }
}
	
const fileTypes = [
	  "image/gif",
	  "image/jpeg",
	  "image/png",
	  "image/jpg"
];

function validFileType(file) {
	 return fileTypes.includes(file.type);
}
	
function returnFileSize(number) {
	if(number < 1024) {
		return number + 'bytes';
	} else if(number >= 1024 && number < 1048576) {
		return (number/1024).toFixed(1) + 'KB';
	} else if(number >= 1048576) {
		return (number/1048576).toFixed(1) + 'MB';
	}
}



let removeFile = (e,flIdx) => {

	e.remove();
	
	let hidden = document.createElement('input');
	hidden.type = 'hidden';
	hidden.name = 'removeFlIdx';
	hidden.value = flIdx;
	
	document.querySelector('form').append(hidden);
}

</script>
</body>
</html>
