<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<script type="text/javascript">

var ws = new SockJS('ws://localhost:9090/replyEcho?bno=1234');

ws.onopen = function(){
	console.log('info: connection opened..');
	setTimeout(function(){ connect();}, 1000);
}

ws.onmessage = function(event){
	console.log(event.data + '\n');
};

ws.onclose = function(event){
	console.log('info: connection closed.');
}

ws.onerror = function(event){
	console.log('info: connection closed.');
}

var sendMessage = function (){
	sock.send(username + ":" + $('#msg').val());
};

$('#btn_send').on('click',function (evt){
	evt.preventDefault();
});

$('#btn_leave').on('click',async function(e){
	await sock.send(username + "님이 퇴장했습니다.");
	sock.close();
	$('#close').attr("action","http://192.168.219.106:9090/logout");
	$('#close').submit();
});

$('#msg').keyup(function(e){
	if (e.key === 'Enter') {
		sendMessage();
		$('#msg').val('');
	 }
});

	
</script>

</body>
</html>