/* 2021-11-05 정현직 */
.hot-card-title {
    font-size: 15px;
    margin-bottom: 30px;
    margin-left: 20px;
  }
  
  .login-join a{
    text-decoration: none;
    outline: none;
    color: #fff;
  }
  
  .login {
    margin-right: 5px;
  }
  
  .hot-keyword {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 60%;
  }
  
  .hot-keyword span {
    display: inline-block;
    margin: 0 10px;
  }
  
  .card {
    border: none;
    background: none;
  }
  
  .item-image {
    position: absolute;
    z-index: -1;
    max-width: 75%;
    width: 100%;
    max-height: 39%;
    height: 100%;
    background-color: #04414d;
    top: 10%;
    left: 10%;
    background-image: url("/01/아이폰.jpg");
  }
  
  .category {
    position: absolute;
    height: 60px;
    width: 60px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 10px #000;
  }
  
  .category i {
    margin: 0 auto;
    text-align: center;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 30px;
  }
  
  .item-name {
    position: absolute;
    top: 47%;
    left: 41%;
  }
  
  .item-info {
    text-align: center;
    line-height: 7px;
    position: absolute;
    top: 72%;
    left: 27%;
  }

/* jung 211111 */

.detail-image {
    position: relative;
    max-width: 54%;
    height: 500px;
    margin: 0px auto;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.219);
}

.detail-image img {
    position: relative;
    min-width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: transparent;
    border-radius: 8px;
}

header {
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    padding: 50px 30px;
}

#article-profile {
    width: 54%;
    margin: 0px auto;
}

#article-profile #article-profile-link {
    display: block;
    padding-bottom: 23px;
    position: relative;
    text-decoration: none;
    border-bottom: 1px solid rgb(36, 36, 36);
}

.hide {
    position: absolute;
    left: -9999px;
    top: -9999px;
}

#article-profile .space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#article-profile .space-between div {
    display: flex;
}

#article-profile #article-profile-image img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

#article-profile #article-profile-left {
    display: inline-block;
    margin-left: 8px;
}

#article-description {
    padding: 32px 0;
    width: 54%;
    margin: 0 auto;
    border-bottom: 1px solid #1f1f1f;
    margin-bottom: 50px;
}

#article-counts {
    font-size: 14px;
}

.button-container {
    display: flex;
    width: 100%;
}

.exchange-button {
    display: inline-block;
    width: 54%;
    height: 50px;
    margin: auto;
    line-height: 50px;
    text-align: center;
    background-color: #1f1f1f;
    border-radius: 0.5rem;
    margin-bottom: 40px;
    color: #fff;
    text-decoration: none;
}