<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.kh.switchswitch.card.model.repository.CardRequestListRepository">
  	<insert id="insertCardRequestList">
  		insert into card_request_list
  		<trim prefix="(" suffixOverrides=",">
  		req_idx,
  		<if test="requestedCard != null">requested_card,</if>
  		<if test="requestCard1 != null">request_card1,</if>
  		<if test="requestCard2 != null">request_card2,</if>
  		<if test="requestCard3 != null">request_card3,</if>
  		<if test="requestCard4 != null">request_card4,</if>
  		<if test="requestedMemIdx != null">requested_mem_idx,</if>
  		<if test="requestMemIdx != null">request_mem_idx,</if>
  		<if test="propBalance != null">prop_balance</if>
  		</trim>
  		)
  		
  		<trim prefix="values(" suffixOverrides=",">
  		sc_req_idx.nextval,
  		<if test="requestedCard != null">#{requestedCard},</if>
  		<if test="requestCard1 != null">#{requestCard1},</if>
  		<if test="requestCard2 != null">#{requestCard2},</if>
  		<if test="requestCard3 != null">#{requestCard3},</if>
  		<if test="requestCard4 != null">#{requestCard4},</if>
  		<if test="requestedMemIdx != null">#{requestedMemIdx},</if>
  		<if test="requestMemIdx != null">#{requestMemIdx},</if>
  		<if test="propBalance != null">#{propBalance}</if>
  		</trim>
  		)
  	</insert>
  	
  	<update id="updateCardRequestList">
  		update card_request_list 
  		<trim prefix="set" suffixOverrides=",">
  		<if test="requestedCard != null">requested_card = #{requestedCard},</if>
  		<if test="requestCard1 != null">request_card1 = #{requestCard1},</if>
  		<if test="requestCard2 != null">request_card2 = #{requestCard2},</if>
  		<if test="requestCard3 != null">request_card3 = #{requestCard3},</if>
  		<if test="requestCard4 != null">request_card4 = #{requestCard4},</if>
  		<if test="requestedMemIdx != null">requested_mem_idx = #{requestedMemIdx},</if>
  		<if test="requestMemIdx != null">request_mem_idx = #{requestMemIdx},</if>
  		<if test="propBalance != null">prop_balance = #{propBalance}</if>
  		</trim>
  		where req_idx = #{reqIdx}
  	</update>
  </mapper>