<!DOCTYPE html> 
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>도로명 주소</title>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script language="javascript" th:inline="javascript">
// opener관련 오류가 발생하는 경우 아래 주석을 해지하고, 사용자의 도메인정보를 입력합니다. ("주소입력화면 소스"도 동일하게 적용시켜야 합니다.)
//document.domain = "http://localhost:9090";
function init(){
	var url = location.href;
	var confmKey = "[(${confmKey})]"; // 연계신청시 부여받은 승인키 입력(테스트용 승인키 : TESTJUSOGOKR) 
	var resultType = "1"; // 도로명주소 검색결과 화면 출력유형, 1 : 도로명, 2 : 도로명+지번+상세보기(관련지번, 관할주민센터), 3 : 도로명+상세보기(상세건물명), 4 : 도로명+지번+상세보기(관련지번, 관할주민센터, 상세건물명) 
	var inputYn= "[(${inputYn})]";
	if(inputYn != "Y"){
		document.form.confmKey.value = confmKey;
		document.form.returnUrl.value = url;
		document.form.resultType.value = resultType;
		document.form.action="https://www.juso.go.kr/addrlink/addrLinkUrl.do"; //인터넷망(행정망의 경우 별도 문의)
		document.form.submit();
	}else{
		window.opener.jusoCallBack("[(${zipNo})]", "[(${roadFullAddr})]");
		opener.pop.close();
	}
}
</script>
</head>
<body onload="init();">
<form id="form" name="form" method="post">
<input type="hidden" id="confmKey" name="confmKey" value=""/>
<input type="hidden" id="returnUrl" name="returnUrl" value=""/>
<input type="hidden" id="resultType" name= "resultType" value=""/>
</form> 
</body>
</html>
