<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 카드 css -->
    <link rel="stylesheet" href="../resources/css/card/card.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <title>Card</title>
</head>
<body>
    
    <!-- 
    전자기기/생활가전<i class="fas fa-bolt"></i>
    가구/인테리어<i class="fas fa-couch"></i>
    유아동<i class="fal fa-baby"></i>
    생활/가공식품<i class="fas fa-utensils"></i>
    스포츠/레저<i class="fas fa-basketball-ball"></i>
    패션/잡화<i class="fas fa-tshirt"></i>
    게임/만화<i class="fas fa-gamepad"></i>
    뷰티/미용<i class="fas fa-air-freshener"></i>
    반려 동물 용품<i class="fas fa-paw"></i>    
    도서/티켓/음반<i class="fas fa-compact-disc"></i>
    기타<i class="fas fa-cogs"></i>  
    -->

    <!-------------- 카드 컨테이너 ------------------>

    <div class="card-container">
        <div class="card-name">
            <p>아이폰</p>
        </div>
        <div class="grade-container">
            <div class="icon">
                <!-- 아이콘 변경 -->
                <i class="fas fa-bolt"></i>
            </div>
            <div class="user-grade">
                <p>사용자 평점</p>
                <!-- 사용자 별점 -->
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
            </div>
            <div class="item-grade">
                <p>물건 평점</p>
                <!-- 물건 별점 -->
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
            </div>
        </div>
        <div class="address">
            <!-- 주소 -->
            <p>지역 <span>강남</span> <span>강서구</span></p>
        </div>
        <div class="card">
            <img src="../resources/img/ddongCard.png" alt="">
            <div class="card-img">
                <!-- 카드 물건 이미지 -->
                <img src="../resources/img/iphone.png" alt="">
            </div>
        </div>
    </div>

<!------------- 카드 컨테이너 끝-------------->
    

</body>
</html>