<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/subHeader :: subHeader"></head>

<head>
	<link rel="stylesheet" href="../resources/css/card/wishCard.css">
	<link rel="stylesheet" href="../resources/css/card/wishPopup.css">
<style type="text/css">
.wscd-innerwrap {
    height: 170px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    box-sizing: border-box;
    background-color: #ff5403;
    border-radius: 10px;
    overflow: hidden;
}
</style>
</head>

<body>

<div th:replace="fragments/wishPopup" :: wishPopup></div>

<header th:replace="fragments/subBodyHeader :: subBodyHeader">
</header>
	<section>

		<div class="wscd-title-container">

			<div class="wscd-innerwrap inner-size">
				<div class="wscd-title">
					<h1>무료 카드 신청 현황</h1>
				</div>

				<div class="wscd-img">
					<img src="../resources/img/wishCardBack.png" alt="">
				</div>

			</div>

			<div class="mk-card-list inner-size">
				<div>진행 중인 카드리스트</div>
				<div class="card-list">
					<div th:each="ongoingCard : ${ongoingCardList}"
						th:object="${ongoingCard}" style="display: flex; flex-wrap: wrap;">
						<div class="card-container" style="width: 180px;"
							th:onclick="|removeOngoing(*{freqIdx})|">
							<div class="card-name">
								<p>[[*{ongoingCard.name}]]</p>
							</div>
							<div class="grade-container">
								<div class="icon">
									<!-- 아이콘 변경 -->
									<input type="hidden" th:value="*{ongoingCard.category}">
	                    			<i id="icon-val"></i>
								</div>
								<div class="user-grade">
									<p>사용자 평점</p>
									<!-- 사용자 별점 -->
									<div class="star">
										<th:block th:if="${myRate} >= 1">
											<th:block th:each="num : ${#numbers.sequence(1,myRate)}">
												<i class="fas fa-star full-star"></i>
											</th:block>
										</th:block>
										<th:block th:if="${myRate%1!=0}">
											<i class="fas fa-star-half-alt"></i>
										</th:block>
										<th:block th:each="num : ${#numbers.sequence(0,5-myRate)}">
											<i th:unless="${num == 0}" class="far fa-star"></i>
										</th:block>
									</div>
								</div>
								<div class="item-grade">
									<p>물건 평점</p>
									<!-- 물건 별점 -->
									<div class="star">
										<th:block
											th:each="num : *{#numbers.sequence(1,ongoingCard.condition)}">
											<i class="fas fa-star full-star"></i>
										</th:block>
										<th:block
											th:each="num : *{#numbers.sequence(0,5-ongoingCard.condition)}">
											<i th:unless="${num == 0}" class="far fa-star"></i>
										</th:block>
									</div>
								</div>
							</div>
							<div class="address">
								<!-- 주소 -->
								<p>
									지역 <span th:text="*{ongoingCard.region}"></span> <span
										th:text="*{ongoingCard.regionDetail}"></span>
								</p>
							</div>
							<div class="card">
								<input type="hidden" th:value="*{ongoingCard.condition}">
								<img class="card-box" alt="">
								<div class="card-img">
									<!-- 카드 물건 이미지 -->
									<img th:src="*{fileDTO.getDownloadURL()}" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="mk-card-list inner-size">
				<div>신청 받은 카드리스트</div>
				<div class="card-list">
					<div th:each="requestedCard : ${requestedCardList}"
						th:object="${requestedCard}">
						<div class="card-container" style="width: 180px;"
							th:onclick="|remove(*{freqIdx})|">
							<div class="card-name">
								<p>[[*{requestedCard.name}]]</p>
							</div>
							<div class="grade-container">
								<div class="icon">
									<!-- 아이콘 변경 -->
									<input type="hidden" th:value="*{requestedCard.category}">
	                    			<i id="icon-val"></i>
								</div>
								<div class="user-grade">
									<p>사용자 평점</p>
									<!-- 사용자 별점 -->
									<div class="star">
										<th:block th:if="${myRate} >= 1">
											<th:block th:each="num : ${#numbers.sequence(1,myRate)}">
												<i class="fas fa-star full-star"></i>
											</th:block>
										</th:block>
										<th:block th:if="${myRate%1!=0}">
											<i class="fas fa-star-half-alt"></i>
										</th:block>
										<th:block th:each="num : ${#numbers.sequence(0,5-myRate)}">
											<i th:unless="${num == 0}" class="far fa-star"></i>
										</th:block>
									</div>
								</div>
								<div class="item-grade">
									<p>물건 평점</p>
									<!-- 물건 별점 -->
									<div class="star">
										<th:block
											th:each="num : *{#numbers.sequence(1,requestedCard.condition)}">
											<i class="fas fa-star full-star"></i>
										</th:block>
										<th:block
											th:each="num : *{#numbers.sequence(0,5-requestedCard.condition)}">
											<i th:unless="${num == 0}" class="far fa-star"></i>
										</th:block>
									</div>
								</div>
							</div>
							<div class="address">
								<!-- 주소 -->
								<p>
									지역 <span th:text="*{requestedCard.region}"></span> <span
										th:text="*{requestedCard.regionDetail}"></span>
								</p>
							</div>
							<div class="card">
								<input type="hidden" th:value="*{requestedCard.condition}">
								<img class="card-box" alt="">
								<div class="card-img">
									<!-- 카드 물건 이미지 -->
									<img th:src="*{fileDTO.getDownloadURL()}" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>

	<footer>
	<div th:replace="fragments/footer :: footer"></div>
</footer>

<script type="text/javascript" th:inline="javascript" th:replace="fragments :: card"></script>
<script type="text/javascript" th:inline="javascript">

function remove(freqIdx){
	$('.wish-popup-container').removeClass('hide');
	$('.accept').attr("href", "/freeSharing/accept/"+freqIdx)
	$('.reject').attr("href", "/freeSharing/reject/"+freqIdx)
}

function removeOngoing(freqIdx){
	$('.wish-popup-container').removeClass('hide');
	$('.accept').children().attr("src", "../resources/img/completeButton.png")
	$('.reject').children().attr("src", "../resources/img/cancelButton.png")
	$('.accept').attr("href", "/freeSharing/complete/"+freqIdx)
	$('.reject').attr("href", "/freeSharing/request-cancel/"+freqIdx)
}
</script>

</body>
</html>