@charset "UTF-8";

.noticePopUp{
	z-index: 9999;
	visibility: hidden;
}

.notice{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 400px;
	height: 350px;
	position: fixed;
	left: 50vw;
	top: 50vh;
	transform: translate(-50%,-45%);
	background-image: url("/resources/img/notice2.png");
	background-position: center;
	background-size: cover;
}

.notice_close_wrap{
	height: 80px;
    margin-top: 50px;
}

.notice_msg_wrap{
	display: flex;
	justify-content: center;
	width: 300px;
	height: 120px;
} 

.notice-container {
    width: 330px;
    display: flex;
    justify-content: flex-end;
}

.notice_btn_wrap{
	height: 100px;
}

.notice_close_wrap {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0 0 10px #00000078;
}

#notice_close{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
	color: #f65f08;
	font-size: 30px;
}

#notice_msg{
	display: flex;
	align-items: center;
	width: 250px;
	color: #630A10;
	font-size: 18px;
	text-align: center;
}

#notice_btn{
	color: #FCF0C8;
	font-size: 16px;
	font-weight: bolder;
	text-align: center;
}

.notice_btn_wrap button{
    padding: 7px 100px;
    margin-top: 40px;
    border: 3px solid #fff;
    color: #fff;
    font-weight: 600;
    font-size: 23px;
    border-radius: 8px;
    background-color: #f65f08;
}

#myform legend {
    text-align: center;
    color: #630A10;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
}

#myform fieldset {
	display: inline-block; /* 하위 별점 이미지들이 있는 영역만 자리를 차지함.*/
	border: 0; /* 필드셋 테두리 제거 */
}

#myform input[type=radio] {
	display: none; /* 라디오박스 감춤 */
}

#myform label {
	font-size: 3em; /* 이모지 크기 */
	color: transparent; /* 기존 이모지 컬러 제거 */
	text-shadow: 0 0 0 #f0f0f0; /* 새 이모지 색상 부여 */
}

#myform label:hover {
	text-shadow: 0 0 0 rgb(255, 238, 0); /* 마우스 호버 */
}

#myform label:hover ~ label {
	text-shadow: 0 0 0 rgb(255, 238, 0); /* 마우스 호버 뒤에오는 이모지들 */
}

#myform fieldset {
	display: inline-block; /* 하위 별점 이미지들이 있는 영역만 자리를 차지함.*/
	direction: rtl; /* 이모지 순서 반전 */
	border: 0; /* 필드셋 테두리 제거 */
}

#myform input[type=radio]:checked ~ label {
	text-shadow: 0 0 0 rgb(255, 238, 0); /* 마우스 클릭 체크 */
}