<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="fragments :: leave_head"></head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">회원 탈퇴</h1>
                            </div>
                            <form class="user"  th:action="@{/mypage/leave-member}" method="post" id="leave_form">
                                <div class="form-group">
	                                <p class="leave-msg">회원 탈퇴 후에도 사이트에서 제공하는 비회원 서비스를 이용하실 수 있으며, 
									<br>무분별한 회원가입을 막기위해 
									<strong style="color:red">회원 탈퇴후 3개월 동안 재 가입이 불가능 합니다</strong>
									<br>탈퇴 후 되돌릴 수 없으니 신중하게 결정해주세요.</p>
									<br>
									<strong style="bo"><i class="fas fa-exclamation-triangle"></i>탈퇴시 남아있는 포인트가 있다면 자동으로 소멸될 수 있습니다.</strong></br>
									<strong style="bo">비밀번호를 입력하시면 탈퇴가 진행됩니다</strong></br>
									<span th:if="${message}" th:text="${message}" class="valid-msg" style="color: red; font-size: 10px;"></span>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control form-control-user" id="password" name="password"
                                        placeholder="password">
                                </div>
                             	 <button type="submit" class="btn btn-primary btn-user btn-block">
                                   		탈퇴 하기
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
	<script type="text/javascript">
	 document.querySelector('#leave_form').addEventListener('submit',e=>{
		   let paswsord = document.querySelector('#password').value;
		   
		   if(!paswsord){
			   alert('비밀번호를 작성하지 않았습니다.');
			   document.querySelector('#password').focus();
			   e.preventDefault();
		   }
	   });
	
	
	
	</script>
    <!-- Bootstrap core JavaScript-->
    <script src="../resources/vendor/jquery/jquery.min.js"></script>
    <script src="../resources/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../resources/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../resources/js/sb-admin-2.min.js"></script>

</body>

</html>