<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 
 <div class="popup-detail hide" th:fragment="cardDetail">
        
        <div class="detail-img">
            <div class="imgs"><img th:src="@{/resources/img/iphone.png}" alt=""></div>
            <div class="imgs"><img th:src="@{/resources/img/iphone.png}" alt=""></div>
            <div class="imgs"><img th:src="@{/resources/img/iphone.png}" alt=""></div>
        </div>
        <div class="detail-info">
            <div class="profile">
                <div class="profile-img">
                    <div class="inner-img">
                        <img th:src="@{/resources/img/default-user.png}" alt="">
                    </div>
                  
                </div>
                <div class="profile-name">
                    <p>디바다리바</p>
                </div>
            </div>
            <div class="detail-content">
                <div class="detail-title">
                    <h1>갤럭시워치</h1>
                </div>
                <div class="detail-time">
                    <p>7시간 전</p>
                </div>
                <div class="post">
                    <p>30년간 써온 갤럭시 워치 구데기이지만 새로운주인에게 넘깁니다.</p>
                </div>
                <div class="detail-list">
                    <ul>
                        <li><span class="list-title">지역:</span> 경기도 군포</li>
                        <li><span class="list-title">배송:</span> 본인부담</li>
                        <li><span class="list-title">거래방식:</span> 배송</li>
                        <li><span class="list-title">희망물품카테고리:</span> 전자기기</li>
                        <li><span class="list-title">물건별점:</span> ★</li>
                        <li><span class="list-title">사용자별점:</span> ★</li>
                    </ul>
                </div>
                <div class="deail-buttons">
                    <button class="exchange-button">교환신청</button>
                    <button class="close-button">닫기</button>
                </div>
            </div>
        </div>

    </div>