<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 
    <!-- submenu -->
    <nav th:fragment="subNav">
        <div class="sub-menu hide" id="mypage-sub">
            <div class="sub-menu-inner inner-size">
        
                <div class="first-line-sub">
                    <div class="my-profile"><a th:href="@{/mypage/profile}">내프로필</a></div>
                    <div class="exchange-history"><a th:href="@{/mypage/history}">카드거래내역관리</a></div>
                    <div class="point">
                        <a th:href="@{/point/point-history}">포인트</a>
                        <div class="point-sub">
                            <a th:href="@{/point/point-history}">포인트사용충전내역</a>
                            <a th:href="@{/point/point-charge}">포인트충전</a>
                             <a th:href="@{/point/point-return}">포인트환급</a>
                        </div>
                    </div>
                    <div class="inqury-detail"><a th:href="@{/mypage/personal-inquiry}">문의내역</a></div>
                    <div class="my-profile"><a  th:href="@{/chat/chatting-list}">채팅</a></div>
              		<div class="my-profile"><a th:href="@{/mypage/alarm}">알람</a></div>
                </div>
                
            </div>
        </div>

        <div class="sub-menu hide" id="board-sub">
            <div class="sub-menu-inner inner-size">
        
                <div class="first-line-sub">
                    <div class="my-profile"><a th:href="@{/board/board-list2}">정보공유</a></div>
		            <div class="exchange-history"><a th:href="@{/notice/notice-list2}">공지사항</a></div>
                    <div class="inqury-detail"><a th:href="@{/inquiry/inquiry-list2}">문의사항</a></div>
                    <div class="inqury-detail"><a th:href="@{/top/top-list2}">자주묻는질문</a></div>
                </div>
            </div>
        </div>

        <div class="sub-menu hide" id="myCard-sub">
            <div class="sub-menu-inner inner-size">
                <div class="first-line-sub">
                    <div class="my-profile"><a th:href="@{/card/my-card}">내카드리스트</a> </div>
                    <div class="exchange-history"><a th:href="@{/card/cardExStatus}">카드교환현황</a></div>
                    <!-- <div class="exchange-history"><a th:href="@{/card/freeCardExStatus}">카드나눔현황</a></div> -->
                    <div class="inqury-detail"><a th:href="@{/card/wish-card}">찜목록</a></div>
                    <div class="inqury-detail"><a th:href="@{/card/card-form}">카드등록</a></div>
                </div>
            </div>
        </div>
    </nav >

    
    <!-- submenuEnd -->